
.form-group-home{
    width: 300px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-group-home2{
    width: 300px;
}

.jumbotron-home{
    margin-top: 30px;
    width: 96%;
}

.table {
   margin: 0 auto;
   width: 80%!important;
}

.alert{
    margin: 0 auto;
    width: 50%;
}

.containernavbar{
    background-image: url("../js/images/background1.png");
    background-size: cover;
}

.containereditinfo{
    margin-top: 30px;
}

.containerlogin{
    margin-top: 80px;
    margin-bottom: 100px;

}

.containerfoodtrack{
     margin-top: 30px;
}

.jumbotronfoodtracker{
    margin-top: 30px;
    width: 96%;
}

.containercreateuser{
    margin-top: 30px;
    background-color: snow;
    border-radius: 3px;
}

.carddeckcontact{
    margin-top: 30px;
}

.footer1{
    margin-top: 50px;
}